{% extends "base.html" %}
{% block content %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">All Products</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    {% for x in range(gender|length) %}
                    <li><a href="/displayGender?genderId={{gender[x][0]}}" class="nav-link">{{gender[x][1]}}</a>
                      <ul class="list-unstyled">
                        {% for y in range(category|length) %}
                        <li><a href="/displayGenderCategory?genderId={{gender[x][0]}}&categoryId={{category[y][0]}}" class="nav-link">{{category[y][1]}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
              
              
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="{{url_for('static', filename='img/banner.jpg')}}" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1 style="text-transform: uppercase;">{{genderName}} - {{categoryName}}</h1>
                <p>We offer wide selection of the best products we have found and carefully selected worldwide.</p>
              </div>
              
              <div class="row products">

               
                

                {% for product in products %}
                {% for row in product %}
                <div class="col-lg-4 col-md-6">

                  {% if row['regular_price'] != row['discounted_price'] %}
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                      {% endif %}

                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="/product/{{row['productid']|string}}"><img src="{{ url_for('static', filename='img/' + row['image'] ) }}" style="background-color:white;" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="/product/{{row['productid']|string}}"><img src="{{ url_for('static', filename='img/' + row['image2'])}}" style="background-color:white;" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="/product/{{product.productid|string}}" class="invisible"><img src="{{ url_for('static', filename='img/' + row['image2'] ) }}" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="#">{{row['product_name']}}</a></h3>
                      <p class="price"> 


                        {% if row['regular_price'] == row['discounted_price'] %}
                          ${{row['regular_price']}}
                        {% else %}
                          <del>${{row['regular_price']}} </del>${{row['discounted_price']}}
                        {% endif %}
                      </p>
                      <p class="buttons"><a href="/product/{{row['productid']|string}}" class="btn btn-outline-secondary">View detail</a><a href="/addToCart?productId={{row['productid']}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                {% endfor %}
                {% endfor %}
               
                <!-- /.products-->
              </div>
              
            </div>

            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
    {% endblock %}