{% extends "base.html" %}
{% block content %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div id="main-slider" class="owl-carousel owl-theme">
                <div class="item"><img src="{{url_for('static', filename='img/sider4.png')}}" alt="" class="img-fluid"></div>
                <div class="item"><img src="{{url_for('static', filename='img/sider2.jpg')}}" alt="" class="img-fluid"></div>
                <div class="item"><img src="{{url_for('static', filename='img/sider3.jpg')}}" alt="" class="img-fluid"></div>
                <div class="item"><img src="{{url_for('static', filename='img/sider1.png')}}" alt="" class="img-fluid"></div>
              </div>
              <!-- /#main-slider-->
            </div>
          </div>
        </div>
        <!--
        *** ADVANTAGES HOMEPAGE ***
        _________________________________________________________
        -->
        <div id="advantages">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-heart"></i></div>
                  <h3><a href="#">We love our customers</a></h3>
                  <p class="mb-0">We are known to provide best possible service ever</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-tags"></i></div>
                  <h3><a href="#">Best prices</a></h3>
                  <p class="mb-0">You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box clickable d-flex flex-column justify-content-center mb-0 h-100">
                  <div class="icon"><i class="fa fa-thumbs-up"></i></div>
                  <h3><a href="#">100% satisfaction guaranteed</a></h3>
                  <p class="mb-0">Free returns on everything for 3 months.</p>
                </div>
              </div>
            </div>
            <!-- /.row-->
          </div>
          <!-- /.container-->
        </div>
        <!-- /#advantages-->
        <!-- *** ADVANTAGES END ***-->
        <!--
        *** HOT PRODUCT SLIDESHOW ***
        _________________________________________________________
        -->
        <div id="hot">
          <div class="box py-4">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2 class="mb-0">Hot this week</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="product-slider owl-carousel owl-theme">
              <div class="item">
                <div class="product">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="front"><a href="detail.html"><img src="{{url_for('static', filename='img/childrenShoes1a.jpg')}}" alt="" class="img-fluid"></a></div>
                      <div class="back"><a href="detail.html"><img src="{{url_for('static', filename='img/childrenShoes1a.jpg')}}" alt="" class="img-fluid"></a></div>
                    </div>
                  </div><a href="detail.html" class="invisible"><img src="{{url_for('static', filename='img/childrenShoes1b.jpg')}}" alt="" class="img-fluid"></a>
                  <br>
                  <br>
                  <div class="text">
                    <h3><a href="detail.html">NIKE FORCE 1 LV8 3 (PS)</a></h3>
                    <p class="price"> 
                      <del></del>$499
                    </p>
                  </div>
                  <!-- /.text-->
                  <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                </div>
                <!-- /.product-->
              </div>
              <div class="item">
                <div class="product">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="front"><a href="detail.html"><img src="{{url_for('static', filename='img/childrenTop1a.jpg')}}" alt="" class="img-fluid"></a></div>
                      <div class="back"><a href="detail.html"><img src="{{url_for('static', filename='img/childrenTop1b.jpg')}}" alt="" class="img-fluid"></a></div>
                    </div>
                  </div><a href="detail.html" class="invisible"><img src="{{url_for('static', filename='img/product2.jpg')}}" alt="" class="img-fluid"></a>
                  <div class="text">
                    <h3><a href="detail.html">ADIDAS PERFORMANCE GIRLS ID HOODIE (GIRLS)</a></h3>
                    <p class="price"> 
                      $499
                    </p>
                  </div>
                  <!-- /.text-->
                  <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                  <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                </div>
                <!-- /.product-->
              </div>
              <div class="item">
                <div class="product">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="front"><a href="detail.html"><img src="{{url_for('static', filename='img/menPant2a.png')}}" alt="" class="img-fluid"></a></div>
                      <div class="back"><a href="detail.html"><img src="{{url_for('static', filename='img/menPant2b.png')}}" alt="" class="img-fluid"></a></div>
                    </div>
                  </div><a href="detail.html" class="invisible"><img src="{{url_for('static', filename='img/menPant2b.png')}}" alt="" class="img-fluid"></a>
                  <br>
                  <br>
                  <div class="text">
                    <h3><a href="detail.html">NIKE THROWBACK</a></h3>
                    <p class="price"> 
                      <del></del>$143.00
                    </p>
                  </div>
                  <!-- /.text-->
                </div>
                <!-- /.product-->
              </div>
              <div class="item">
                <div class="product">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="front"><a href="detail.html"><img src="{{url_for('static', filename='img/ladiesShoes1a.jpg')}}" alt="" class="img-fluid"></a></div>
                      <div class="back"><a href="detail.html"><img src="{{url_for('static', filename='img/ladiesShoes1b.jpg')}}" alt="" class="img-fluid"></a></div>
                    </div>
                  </div><a href="detail.html" class="invisible"><img src="{{url_for('static', filename='img/ladiesShoes1b.jpg')}}" alt="" class="img-fluid"></a>
                  <br>
                  <br>
                  <div class="text">
                    <h3><a href="detail.html">NIKE AF1 SHADOW</a></h3>
                    <p class="price"> 
                      <del></del>$899
                    </p>
                  </div>
                  <!-- /.text-->
                </div>
                <!-- /.product-->
              </div>
              <div class="item">
                <div class="product">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="front"><a href="detail.html"><img src="{{url_for('static', filename='img/ladiesPant1a.png')}}" alt="" class="img-fluid"></a></div>
                      <div class="back"><a href="detail.html"><img src="{{url_for('static', filename='img/ladiesPant1b.png')}}" alt="" class="img-fluid"></a></div>
                    </div>
                  </div><a href="detail.html" class="invisible"><img src="{{url_for('static', filename='img/ladiesPant1b.png')}}" alt="" class="img-fluid"></a>
                  <br>
                  <br>
                  <div class="text">
                    <h3><a href="detail.html">NIKE X SACAI</a></h3>
                    <p class="price"> 
                      <del></del>$250
                    </p>
                  </div>
                  <!-- /.text-->
                  <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                  </div>
                  <!-- /.ribbon-->
                </div>
                <!-- /.product-->
              </div>
                  <!-- /.text-->
                </div>
                <!-- /.product-->
              </div>
              <!-- /.product-slider-->
            </div>
            <!-- /.container-->
          </div>
          <!-- /#hot-->
          <!-- *** HOT END ***-->
        </div>
        
    {% endblock %}