{% extends "base.html" %}
{% block content %}
    <div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">All Products</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** MENUS AND FILTERS ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Categories</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column category-menu">
                    {% for i in range(gender|length) %}
                    <li><a href="/displayGender?genderId={{i+1}}" class="nav-link">{{gender[i]}}</a>
                      <ul class="list-unstyled">
                        <li><a href="ladies_tops.html" class="nav-link">Tops</a></li>
                        <li><a href="ladies_pants.html" class="nav-link">Pants</a></li>
                        <li><a href="ladies_shoes.html" class="nav-link">Shoes</a></li>
                      </ul>
                    </li>
                    {% endfor %}
                   
                  </ul>
                </div>
              </div>
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Armani  (10)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Versace  (12)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Carlo Bruni  (15)
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Jack Honey  (14)
                        </label>
                      </div>
                    </div>
                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                  </form>
                </div>
              </div>
              
              <!-- *** MENUS AND FILTERS END ***-->
              <div class="banner"><a href="#"><img src="{{url_for('static', filename='img/banner.jpg')}}" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              <div class="box">
                <h1>All Products</h1>
                <p>We offer wide selection of the best products we have found and carefully selected worldwide.</p>
              </div>
              
              <div class="row products">

                {% for product in products %}

                <div class="col-lg-4 col-md-6">
                      {% if product.regular_price != product.discounted_price %}
                        <div class="ribbon sale">
                            <div class="theribbon">SALE</div>
                            <div class="ribbon-background"></div>
                        </div>
                      {% endif %}

                  <div class="product">
                    <div class="flip-container">
                      <div class="flipper">
                        <div class="front"><a href="/product/{{product.productid|string}}"><img src="{{ url_for('static', filename='img/' + product.image)}}" style="background-color:white;" alt="" class="img-fluid"></a></div>
                        <div class="back"><a href="/product/{{product.productid|string}}"><img src="{{ url_for('static', filename='img/' + product.image2)}}" style="background-color:white;" alt="" class="img-fluid"></a></div>
                      </div>
                    </div><a href="/product/{{product.productid|string}}" class="invisible"><img src="{{ url_for('static', filename='img/' + product.image)}}" alt="" class="img-fluid"></a>
                    <div class="text">
                      <h3><a href="#">{{product.product_name}}</a></h3>
                      <p class="price"> 
                        
                        {% if product.regular_price == product.discounted_price %}
                          ${{product.regular_price}}
                        {% else %}
                          <del>${{product.regular_price}} </del>${{product.discounted_price}}
                        {% endif %}
                      </p>
                      <p class="buttons"><a href="/product/{{product.productid|string}}" class="btn btn-outline-secondary">View detail</a><a href="/addToCart?productId={{product.productid}}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>
                    </div>
                    <!-- /.text-->
                  </div>
                  <!-- /.product            -->
                </div>
                {% endfor %}
               
                <!-- /.products-->
              </div>
              
            </div>

            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>
    {% endblock %}