{% extends "base.html" %}
{% block content %}

<div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            
            <div id="basket" class="col-lg-12">
              <div class="box">
                	{%if trendtype =="least" %}
                  		<h1>Trends - Least Selling</h1>
              		{% else %}
						<h1>Trends - Most Selling</h1>
					{% endif %}
	                 

					{{div_placeholder}}
                  <!-- /.table-responsive-->
                  <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                  	{%if trendtype =="least" %}
	                    <div class="left"><a href="/seeTrends?trend=most" class="btn btn-outline-secondary">Most selling products</a></div>
	                    {% else %}
	                    <div class="left"><a href="/seeTrends?trend=least" class="btn btn-outline-secondary">Least selling products</a></div>
                    {% endif %}
                  </div>
                
              </div>
              <!-- /.box-->
             
            </div>
            
            
          </div>
        </div>
      </div>
    </div>




{% endblock content %}